extends ../shared/template

block content
  h1 Project

  h1= title
  a.gitURL(href='#{project.gitURL}')= project.gitURL
  a.appURL(href='#{project.appURL}') View App
  .date= project.date
  p.description= project.description
  each photo in project.photos
    img(src='#{photo}')




block scripts
